#inicio {
    display: block;
   }
   #titulo, #triangulo {
    display: inline;
    
   }
.headerAlura {
    display: flex;
    margin: 20px 0 15px 10px;
}
main{
    display: flex;
    height: 33rem;
    margin-bottom: 2rem;
    width: 90%;
}
.sectionLeft{
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    padding-top: 2rem;
    margin: 3rem;
}
.sectionRigth{
    border-radius: 15px;
    box-sizing: border-box;
    margin-right: 2rem;
    overflow: hidden;
    width: 44%;
    box-shadow: 0px 0px 10px rgba(10,20,30,.8); 
    cursor: zoom-in;
}
.texto-resultado{
    display: none;
}
.contenedor-resultado{
    width: auto;
    height: 16rem;
    font-size: 17px;
    box-sizing: border-box;
    margin-top: -8.5rem;
    text-align: center;
    font-family: sans-serif;
}
.text_area1 {
    outline: none;
    border: none;
    display: flex;
    font-size: 20px;
    line-height: 2rem;
    padding: .8rem;
    resize: none;
    width: 74%;
    border-style: none;
    margin-left: 30px;
}


.advertencia {
    display: flex;
}

#imgAdvertencia {
    float: left;
    width: 17px;
    height: 17px;
    margin-right: 0.5rem;
}
#textAdvertencia {
    font-size: 12px;
}

.btns {
    display: flex;
    width: 328px;
    padding: 24px;
    align-items: flex-start;
    gap: 10px;
    flex-shrink: 0;
    text-align: center;
}

#btnEncriptar {
    display: flex;
    justify-content: center;
    font-weight: bold;
    color: white;
    padding: 10px 40px;
    border-radius: 24px;
    background: var(--Dark-blue-dark-blue-300, #0A3871);
    cursor: pointer; 
    border-style: none;
    margin: auto;
    width: 40%;
}
#btnDesencriptar {
    display: flex;
    justify-content: center;
    font-weight: bold;
    padding: 10px 40px;
    border-radius: 24px;
    border: 1px solid var(--Dark-blue-dark-blue-300, #0A3871);
    background: #D8DFE8;
    cursor: pointer;
    border-style: none;
    margin: auto;
    width: 40%;
}
.btn-copiar{
    margin: auto;
    width: 40%;
    display: flex;
    justify-content: center;
    font-weight: bold;
    padding: 10px 30px;
    border-radius: 24px;
    border: 1px solid var(--Dark-blue-dark-blue-300, #0A3871);
    background: #D8DFE8;
    cursor: pointer;
    border-style: none;
}

.no-resultado{
    display: block;
}
.contenedor-resultado{
    display: block;
    
}
.div-copiar{
    width: 100%;
}
.btn-copiar{
    
}
.contenedor-parrafo{
    font-family: sans-serif;
    height: 20%;
    text-align: center;
    margin: 2rem;
    width: 75%;
}
.contenedor-h3{
    font-weight: bold;
    font-style: oblique;
    font-family: sans-serif;
    height: 18%;
    text-align: center;
    padding-top: 5px auto;
    margin-bottom: 2rem;
    width: 100%;
}
.img-detective{
    margin-top: 70px;
    text-align: center;
}

footer{
    background-color: black;
}