
/* estilos del header */
.headerAlura {
    display: flex;
    margin: 20px 0 15px 10px;

}
/* estilos del main */
main{
    display: flex;
    height: 33rem;
    margin-bottom: 1rem;
    width: 90%;

}

/* estilos del sectionLeft */
.sectionLeft{
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    padding-top: 2rem;
    margin: 3rem;
}
.text-area1 {
    outline: none;
    border: none;
    display: flex;
    font-size: 20px;
    line-height: 2rem;
    padding: .8rem;
    resize: none;
    width: 74%;
    border-style: none;
    margin-left: 30px;
}
.advertencia {
    display: flex;
}

#imgAdvertencia {
    float: left;
    width: 17px;
    height: 17px;
    margin-right: 0.5rem;
}
#text-advertencia {
    font-size: 12px;
}

/* botones lado izquierdo */
.btns {
    display: flex;
    width: 328px;
    padding: 24px;
    align-items: flex-start;
    gap: 10px;
    flex-shrink: 0;
    text-align: center;
}

#btnEncriptar {
    display: flex;
    justify-content: center;
    font-weight: bold;
    color: white;
    padding: 10px 40px;
    border-radius: 24px;
    background: var(--Dark-blue-dark-blue-300, #0A3871);
    cursor: pointer; 
    border-style: none;
    margin: auto;
    width: 40%;
}

#btnDesencriptar {
    display: flex;
    justify-content: center;
    font-weight: bold;
    padding: 10px 40px;
    border-radius: 24px;
    border: 1px solid var(--Dark-blue-dark-blue-300, #0A3871);
    background: #D8DFE8;
    cursor: pointer;
    border-style: none;
    margin: auto;
    width: 40%;
}
/* estilos del sectionRigth*/
.sectionRigth{
    border-radius: 20px;
    box-sizing: border-box;
    margin-right: 2rem;
    
    overflow: hidden;
    width: 44%;
    box-shadow: 0px 0px 5px rgba(109, 117, 124, 0.8); 
    cursor: zoom-in;
}
.no-resultado{
display: block;
}
.img-detective{
    margin-top: 70px;
    text-align: center;
}
.contenedor-h3{
    font-weight: bold;
    font-style: oblique;
    font-family: sans-serif;
    height: 18%;
    text-align: center;
    padding-top: 5px auto;
    margin-bottom: 2rem;
    width: 100%;
}
.texto-resultado{
    display: none;
}
.contenedor-parrafo{
    font-family: sans-serif;
    height: 20%;
    text-align: center;
    margin: 2rem;
    width: 75%;
}

.div-resultado{
    width: auto;
    height: 100%;
    font-size: 17px;
    box-sizing: border-box;
    text-align: center;
    font-family: sans-serif;
    margin-left: 1rem;
    display: none;
}

.div-text-encriptado{
    width: 90%;
    height: 80%;
}

.div-copiar{
    width: 100%;
    margin-top: 2rem;
}
.btn-copiar{
    margin: auto;
    font-weight: bold;
   padding: 0.5rem 1rem 0.5rem 1rem;
    border-radius: 24px;
    border: 1px solid var(--Dark-blue-dark-blue-300, #0A3871);
    background: #D8DFE8;
    cursor: pointer;
    border-style: none;
    width: 40%;
}

footer{
    background-color: rgb(199, 197, 197);
    text-align: center;
    opacity: 80%;
    margin-bottom: 0%;
}

.center-info{
    display: flex;
}
.redes{
    display: inline-flex;
    padding: 0.5rem 0 0.5rem 0.5rem ;
}

.img-redes{
    width: 50px;
    height: 50px;
    margin-right: 1rem;
}
.text-footer{
    font-size: 1rem;
    font-weight: bold;
}

@media screen and (max-width: 480px){
    main{
        flex-wrap: wrap;
        justify-content: center;
        margin: 0%;
    }
    .textArea{
        height: 32rem;
        margin: 0.5rem 0.5rem;
        width: 80%;
    }
    #imgAdvertencia{
        margin: 1rem;
        padding-left: 1rem;
    }
    #text-advertencia{
        font-size: 1rem;
        padding-top: 1rem;
        padding-left: .3rem;
    }
    .btns{
        flex-wrap: wrap;
        gap: 1.50rem;
        padding: 1rem;
        margin-top: 0;
    }
    #btnEncriptar, #btnDesencriptar{
        font-size: 18px;
        padding-top: .9rem;
        padding-bottom: .9rem;
    }
    #btnEncriptar{
        padding-left: 7.2rem;
        padding-right: 7.2rem;
    }
    #btnDesencriptar{
        padding-left: 6rem;
        padding-right: 6rem;
    }

    .img-detective{
        display: none;
    }

    .sectionRigth{
        margin: 1rem 2rem;
        width: 100%;
    }
    .sectionLeft{
        margin-top: 0%;
      margin-bottom: 0%;
    }

    .contenedor-h3{
        margin-top: 0.5rem;
        height: 5rem;
        padding-top: 2rem;
    }
    .ajustes-h3{
        font-size: 24px;
        line-height: 2rem;
    }

    .contenedor-parrafo{
        margin-top: 1rem;
        margin-bottom: 2rem;
    }

    .ajustes-parrafo{
        font-size: 1rem;
        line-height: 2rem;
    }
 .no-resultado{
    height: auto;
 }
 .div-text-encriptado{
    height: 5rem;
    padding-bottom: 1rem;
    display: block;
}
.div-copiar{
    height: auto;
    margin-bottom: 1rem;
}
.text-encriptado{
    height: 5rem;
    margin-top: 1rem;
    font-size: 22px;
    line-height: 1.6rem;
    padding-bottom: 1rem;
    text-align: center;
}
    #pie-de-pagina{
        padding: .8rem;
        margin-top: 25rem;
        height: auto;
    }
    .img-redes{
        width: 32px;
        height: 32px;
    }

}